.animated-heading {
    animation: heading-animation 2s ease-in-out;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .animated-text {
    animation: text-animation 2s ease-in-out;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  @keyframes heading-animation {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes text-animation {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  